* {
    box-sizing:border-box;
    margin: 0px;
    padding: 0px;
}

.logo-store {
    width: 100px;
    background-color: #fff;
    
    
}

header{
    padding: 16px 0px;
    background-color: #E41837;
    color: #fff;
    max-width: 1250px;
}

header nav li {
    display: inline;
    margin-left: 10px;
    margin-right: 75px;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
}

header nav li a {
    color: #fff;
    text-decoration: none;
}

.menu-links1, .menu-links2 {
    border: 5px solid rgb(255,255,255);
    background-color: rgb(255,255,255) ;
    color:#E41837;
    font-weight: 600;
}




h1 {
    display:none;
}




.about-image {
    width: 1250px;
    max-height: 550px;
}

body {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.image-container {
    position: relative;
    border-bottom: 0px solid #E41837;
}


.p-container{
    position: absolute;
    bottom: 100px;
    left: 0;
    background-color: #e418379d; 
    color: #fff; 
    padding: 20px;
    z-index: 1;
    max-width: 1250px;
    font-weight: 600;
    font-size: 20px;
    
}


#services {
    max-width: 1250px;
    margin: 0px;
    

}

#services h2 {
    color:#E41837;
    background-color: #fff;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    border-bottom: 16px solid #fff;
    font-size: 28px;
}

#services ul li {
    border-radius: 5px;
    background-color: #fff;
    color: #E41837;
    text-align: center;
    margin: 9px 0px;
    font-size: 20px;
    font-weight: 600;

}

#services .container h2 {
    align-items: center;
    width: 100%;
}


#services .container {
    background-color: #E41837;
    border-top: 10px solid #E41837;
}

#services .container ul {
    list-style: none;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;

}

#services .container ul li {
    width: 45%;
    padding: 10px;
    text


}

.about-image {
    border: 0px;
    margin: 0px;
}



#how-it-works .container{
    max-width: 1250px;
}

#how-it-works .container .img {
    border-top: 25px solid #E41837;
    white-space: nowrap;
    background-color: #E41837;
}

.img img {

    display: inline-block;
    width: 24.63%;
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

#how-it-works .container article {
    font-size: 20px;
    color:#E41837;
    text-align: center;
}

article h2 {
    margin: 20px 0px 30px 0px;
}
article p {
    text-align: justify;
    margin: 0px 50px 25px 50px;
    font-weight: 500;
}